@import url('https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css');


@import "tailwindcss";
:root {
  --background: linear-gradient(135deg, #FFD6E8 0%, #FFFACD 50%, #D4F1D4 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-be-vietnam-pro);
  --font-sidebar: var(--font-nunito);
  --font-title: var(--font-nunito);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #4a3a3a 0%, #4a4a3a 50%, #3a4a3a 100%);
    --foreground: #962929;
  }
  
  body {
    background: linear-gradient(135deg, #4a3a3a 0%, #4a4a3a 50%, #3a4a3a 100%) !important;
  }
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: var(--font-be-vietnam-pro);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: var(--font-title);
}


.text-slate-400 {
  color: #64748b;
}

.text-slate-500 {
  color: #475569;
}

.text-gray-400 {
  color: #6b7280;
}

.text-gray-500 {
  color: #4b5563;
}

input::placeholder,
textarea::placeholder {
  color: #64748b;
  opacity: 1;
}
